 #box {
    border: 5px dashed red; /* adds a dashed green border with a width of 2px */
    background-color: lightgrey; /* makes the background pink */
    border-radius: 30px; /* makes the border rounded*/
}

#p1 {
    margin-left:400px;
    width: 600px;
    height: 300px;
    border: 5px solid red;
    color: black;
    font-size: 20px;
}

#rotate {
    transform: rotate(90deg);
    margin-left: 300px;
    height: auto;
}

h1 {
    font-weight: bold;
    margin: auto;
    width: 20%;
    padding-top: 50px;
}
